.popup__confirmation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup__confirmation-text {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 0 38px 0;
}

.popup__confirmation-buttons {
  display: flex;
  gap: 16px;
  width: 100%;
}

.popup__button_confirm,
.popup__button_cancel {
  flex: 1;
  padding: 13.5px 0 18.5px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__button_cancel {
  background-color: #fff;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.popup__button_cancel:hover {
  background-color: rgba(0, 0, 0, 0.05);
}