* {
    margin: 0;
    padding: 0;
    border: 0;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    width: 100%;
}
.register__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 358px;
      
}
.register__title{
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 60px;
    text-align: center;
}
.register__input{
    border-bottom: 1px solid #CCC;
    background-color: #000;
    color: #cccccc;
    padding: 10px 0px;
    min-width: 260px;
    max-width: 358px;
}

.register__email{
    margin-top: 50px;
}
.register__password{
    margin-top: 30px;
}
.register__button {
    margin-top: 173px;
    padding: 14px 20px;
    min-width: 260px;
}
.register__button:hover {
    opacity: 85%;
    cursor: pointer;
}
.register__text{
    margin-top: 15px;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.register__link{
    color: #fff;
    text-decoration: none;
}
.register__link:hover {
    opacity: 60%;
    cursor: pointer;
}