.login-status-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.login-status-popup__icon {
  width: 120px;
  height: 120px;
}

.login-status-popup__message {
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0;
}

